:root {
  font-size: 62.5%;

  --clr-white: #FFFFFF;
  --clr-gray-100: #E2E8F0;
  --clr-gray-200: #D2D2D2;
  --clr-gray-500: #636363;
  --clr-gray-600: #333333;
  --clr-gray-700: #000000;
  --clr-blue-500: #1992D4;
  --clr-yellow-500: #F0B429;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  color: var(--clr-gray-700);
}

a {
  text-decoration: none;
}

input,
button {
  border: none;
  background-color: transparent;
}

.container {
  display: flex;
  min-height: 100vh;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

nav {
  padding: 2.4rem;
  width: 30.4rem;
  background-color: var(--clr-blue-500);
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
}

.current-item .nav-item {
  gap: 2rem;
  font-size: 2.8rem;
  font-weight: 700;
}

.current-item .nav-item>img.icon {
  width: 3.6rem;
  height: 3.6rem;
}

.nav-item {
  color: var(--clr-white);
  display: flex;
  align-items: center;
  gap: 2.4rem;

  font-size: 2.2rem;
  font-weight: 600;
}

img.icon {
  width: 2.4rem;
  height: 2.4rem;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

main>header {
  padding: 1.6rem 4.2rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 3.2rem 3rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0);
}

header>form#search-form .input-wrapper {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

header>form#search-form .input-wrapper input {
  width: 100%;
  height: 3.2rem;
  background-color: var(--clr-gray-100);
  border-radius: 999px;
  padding-inline: 1.2rem;
}

.profile-img {
  width: 7.2rem;
  height: 7.2rem;
  border-radius: 999px;
}

.profile-info .profile-img {
  width: 4.8rem;
  height: 4.8rem;
}

.profile-info {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.profile-info>strong {
  font-size: 1.8rem;
}

.welcome {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.welcome .welcome-message {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.welcome .welcome-message>span {
  font-size: 1.4rem;
  font-weight: 700;
}

.welcome .welcome-message>strong {
  font-size: 2.4rem;
}

.controls {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.controls>button {
  min-width: 10rem;
  height: 4rem;
  font-weight: 700;
  cursor: pointer;
  border-radius: 999px;
  background-color: var(--clr-blue-500);
  color: var(--clr-white);
}

.feed {
  height: 100%;
  background-color: var(--clr-gray-100);
  padding: 3.8rem 3.2rem 6.4rem 2.2rem;
  display: flex;
  gap: 2.2rem;
}

.feed .feed-item h3 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.projects-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 3rem 2.4rem;
}

.projects-list .card {
  height: 21.6rem;
  min-width: 30.4rem;
  padding: 3.2rem 3rem;

  background-color: white;
  border-left: 8px solid var(--clr-yellow-500);
  border-radius: 8px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  cursor: pointer;

  transition: transform 0.2s ease-in;
}

.projects-list .card:hover {
  transform: translate(2px, -4px);
}

.card .card-content h4 {
  font-size: 1.8rem;
  margin-bottom: 0.4rem;
}

.card .card-content p {
  color: var(--clr-gray-500);
  display: -webkit-box;
  line-clamp: 5;
  -webkit-line-clamp: 5;
  box-orient: vertical;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card .card-controls {
  display: flex;
  justify-content: flex-end;
  gap: 2.6rem;
}

.card .card-controls button {
  line-height: 0;
  cursor: pointer;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 4.4rem;
}

aside .sidebar-list {
  min-width: 27.8rem;
  padding-block: 3.2rem 2.8rem;
  display: flex;
  flex-direction: column;

  background-color: var(--clr-white);
  border-radius: 8px;

  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

aside .sidebar-list .announcement-item {
  padding-inline: 3rem;

  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

aside .sidebar-list .announcement-item+.announcement-item::before {
  content: '';
  width: 22.5rem;
  height: 1px;
  background-color: var(--clr-gray-200);
  margin-block: 1.8rem;
}

.sidebar-list .announcement-item h5 {
  font-size: 1.4rem;
}

.sidebar-list .announcement-item p {
  font-size: 1.2rem;
  color: var(--clr-gray-500);

  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  box-orient: vertical;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

aside .feed-item:last-child .sidebar-list {
  padding-block: 2.2rem 3rem;
}

.sidebar-list .trending-item {
  padding-inline: 2.4rem;

  display: flex;
  align-items: center;
  gap: 1.8rem;
  margin-block: 1.2rem;
}

.sidebar-list .trending-item {
  font-size: 1.4rem;
}

.sidebar-list .trending-item p {
  color: var(--clr-gray-500);
}