:root {
  font-size: 62.5%;

  --clr-white: #FFFFFF;
  --clr-gray-100: #E2E8F0;
  --clr-gray-500: #636363;
  --clr-gray-600: #333333;
  --clr-gray-700: #000000;
  --clr-blue-500: #1992D4;
  --clr-yellow-500: #F0B429;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

input,
button {
  border: none;
  background-color: transparent;
}

html,
body {
  height: 100vh;
}

.container {
  min-height: 100%;
  width: 100%;
  display: flex;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

nav {
  padding: 2.4rem;
  width: 30.4rem;
  background-color: var(--clr-blue-500);
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
}

.current-item .nav-item {
  gap: 2rem;
  font-size: 2.8rem;
  font-weight: 700;
}

.current-item .nav-item>img.icon {
  width: 3.6rem;
  height: 3.6rem;
}

.nav-item {
  color: var(--clr-white);
  display: flex;
  align-items: center;
  gap: 2.4rem;

  font-size: 2.2rem;
  font-weight: 600;
}

img.icon {
  width: 2.4rem;
  height: 2.4rem;
}

main {
  width: 100%;
  height: 100%;
}

main>header {
  padding: 1.6rem 4.2rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 3.2rem 3rem;
}

header>form#search-form .input-wrapper {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

header>form#search-form .input-wrapper input {
  width: 100%;
  height: 3.2rem;
  background-color: var(--clr-gray-100);
  border-radius: 999px;
}

.profile-img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 999px;
}

.profile-info {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.profile-info>strong {
  font-size: 1.8rem;
}

.welcome {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.welcome .profile-img {
  width: 7.2rem;
  height: 7.2rem;
}

.welcome .welcome-message {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.welcome .welcome-message>span {
  font-size: 1.4rem;
  font-weight: 700;
}

.welcome .welcome-message>strong {
  font-size: 2.4rem;
}

.controls {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.controls>button {
  min-width: 10rem;
  height: 4rem;
  font-weight: 700;
  cursor: pointer;
  border-radius: 999px;
  background-color: var(--clr-blue-500);
  color: var(--clr-white);
}